.nav {
  display: flex;
  list-style: none;
  width: 40vw;
  justify-content: space-between;
}

#nav-link:visited {
  text-decoration: none;
  color: rgb(231, 207, 162);
}

#nav-link.active {
  color: rgb(238, 110, 110);
  display: flex;
  justify-content: end;
}

#nav-link {
  display: flex;
  justify-content: end;
  font-size: 30px;
}

@media (max-width: 589px) {
  .nav {
    flex-direction: column;
  }
}
